<div class="container-fluid">
    <h1 class="head">Akchat</h1>
  </div>
  
  <div class="container">
    <div class="row">
        <div class="col-md-4">

        </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
              <div class="card-title" style="color:black">
                      <i class="fas fa-user-secret"></i>
                 reset-password
              </div>
              <form #createform="ngForm">
           <div class="form-group">
                   <label for="">Email</label>
                       <input type="email" class="form-control" id="exampleInputEmail4" name="email" [(ngModel)]="email" placeholder="email" required>
              </div>
              <div class="btn-alignment">
                    <p class="loader" *ngIf="sign==false"></p>
                <button type="submit" class="btn btn-primary"  (click)="sendcode()">send</button>
                </div>
            <div class="form-group">
                    <label for="">resetcode</label>
                      <input type="text" class="form-control" id="exampleInputEmail5" name="resetcode" [(ngModel)]="resetcode" placeholder="resetcode" required> 
                                       </div>
                                       <div class="form-group">
                                            <label for="">password</label>
                                              <input type="password" class="form-control" id="exampleInputEmail5" name="password" [(ngModel)]="password" placeholder="password" required> 
                                                               </div>
                  <div class="btn-alignment">
                      <p class="loader" *ngIf="signuploader==false"></p>
                  <button type="submit" class="btn btn-primary"  (click)="resetpassword()">reset</button>
                  </div>
              
                </form>
             
    <div class="col-md-4">
            
        </div>
        </div>
      
          <div class="signup">
              <small style="color:black">do you dont't have a account?</small><a [routerLink]="['/signup']" style="font-size:16px;">back</a>
          </div>
        </div>
      </div>
   